@charset "UTF-8";
.nav-list > li > ul {
    padding-left:0;
    padding-right:0;
}
.nav-list ul > li > a {
    padding-left:30px;
}
p {
    font-size:100%;
}
ul.larger li {
    font-size: 1.2em;
    line-height: 1.35em;
}
.posting {
    padding: 1em;
    margin-bottom: 2em;
    border-bottom: 1px solid #FFFFFF;
}